/*-- scss:defaults --*/
$presentation-font-size-root: 28px;
$presentation-h2-font-size: 1.4em;
$code-block-font-size: 1.0em;
// $code-block-bg: #bbb;

/*-- scss:rules --*/

.reveal :not(div.code-with-filename) > div.sourceCode {
  margin-top: 0.6em !important;
  margin-bottom: 0.6em !important;
  border-style: none;
}

.reveal div.code-with-filename {
  margin-top: 0.6em !important;
  margin-bottom: 0.6em !important;
}

.reveal .slides section .callout {
  font-size: 1.0em;
}